version: "3.9"

services:
  db:
    image: postgres:15-alpine
    container_name: sistemaacademico_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: SistemaAcademico
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: sistemaacademico_backend
    env_file:
      - ./backend/.env
    depends_on:
      - db
    ports:
      - "3000:3000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
     
      args:
       
        NEXT_PUBLIC_API_URL: http://localhost:3000
    container_name: sistemaacademico_frontend
    ports:
      - "8080:80" 
    depends_on:
      - backend

volumes:
  db_data:
